ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
GOERLI_URL=https://eth-goerli.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1
TEAM_API_KEY=your_Defender_API_key_from_Defender_Settings
TEAM_API_SECRET=your_Defender_API_secret_from_Defender_Settings
